<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel App</title>
  </head>
  <body>
    <div id="app">
      <div class="holder headline">Travel App</div>
      <div class="holder city">
        <label for="city">City</label>
        <input type="text" id="city" placeholder="Enter city here" />
        <div id="city-wrong"></div>
      </div>
      <button id="generate" type="submit">Generate</button>
      <div class="holder entry">
        <div class="title">GeoNames</div>
        <table id="entryHolder">
          <tr>
            <td>Latitude</td>
            <td id="lat"></td>
          </tr>
          <tr>
            <td>Longitude</td>
            <td id="lon"></td>
          </tr>
          <tr>
            <td>Country</td>
            <td id="country"></td>
          </tr>
        </table>
      </div>
    </div>
    <!-- <script src="app.js" type="text/javascript"></script> -->
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
